<h2 style="float: left;padding-bottom: 20px; color: green">> Liste des utilisateurs : </h2>
<br />
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Addresse</th>
      <th scope="col">Email</th>
      <th scope="col">Contact list</th>
      <th scope="col">Alertes</th>
    </tr>
  </thead>
  <tr class="pointer" *ngFor="let user of service.userList">
    <td (click)="populateForm(user)">{{user.FirstName}} {{user.LastName}}</td>
    <td (click)="populateForm(user)">{{user.PhoneNumber}}</td>
    <td (click)="populateForm(user)">{{user.Address}}</td>
    <td (click)="populateForm(user)">{{user.Email}}</td>
    <td><a href="">Contact list</a></td>
    <td><a href="">Alertes</a></td>
    <td><img class="alarm" src="../../../assets/images/alertisimple.png" alt=""></td>
    <td><button (click)="onEditUser(user)" class="btn btn-primary" data-toggle="modal"
      data-target="#modalUser">Traiter</button></td>
    <td><button (click)="onEditUser(user)" class="btn btn-primary" data-toggle="modal"
        data-target="#modalUser">Edit</button></td>
    <td><button (click)="onDelete(user.Id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{this.service.selectedUser.FirstName}}
          {{this.service.selectedUser.LastName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-user></app-user>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>